
:root{
    --cor-primaria:  #000;
    --cor-segundaria:#F6F6F6;
    --cor-terciaria:#22D4FD ;
}





body{


    box-sizing: border-box;
    background-color: var(--cor-primaria);
    
    color: var(--cor-segundaria);

}

@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@100&display=swap');

.cabecalho{
    padding: 2%  0%  0%   15%;
    
}
.cabecalho-menu{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    color:#22D4FD ;
    font-size:15px;
    font-weight: 600;
    gap: 80px;
    text-decoration: none;
}

 .cabecalho-menu-home{
    text-decoration: none;
    color:#22D4FD ;
 }
.cabecalho-menu-sobreMim{
    text-decoration: none;
    color:#22D4FD ;

}

.titulo-destaque-um{
    color:#22D4FD ;
}




*{
    margin: 0;
    padding: 0;
}


.apresentacao{

padding: 8% 15%;

    display:flex;


    align-items: center;

    justify-content: space-between;
    gap:82px;
 
}
.apresentacao-conteudo{
    width: 50%;
}
 
.apresentacao-conteudo-titulo{
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}
.apresentacao-conteudo-texto{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}
.apresentacao-link{
    display:flex;

    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;


}
.apresentacao-link-subtitulo{
    font-family: 'Krona One', sans-serif;


    color: #F6F6F6;
    text-align: center;
    font-family: Krona One;
    font-size: 24px;

    font-weight: 400;
    line-height: 120px;
  

}
.apresentacao-links-link{
    border-radius: 0.5rem;
    border: 2px solid #22D4FD;
    display: flex;
    justify-content:center;
    gap:16px ;
    width: 50%;
    text-align:center;
    font-weight: 600;
    font-size: 1.5rem;

    border-radius:  16px; ;
    padding: 21.5px 0px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
}

.apresentacao-links-link:hover{
    background-color: #272727;
}

.apresentacao-imagem{
    width: 50%;
}








.rodape{
    display: flex;
    color:#000;
    background-color: #22D4FD;
    padding: 26px;
    font-family: 'Montserrat', sans-serif;
    justify-content:center;
    font-size: 24px;
    font-weight: 400;
}


@media(max-width:1200px){
.apresentacao{

    flex-direction: column-reverse;
    padding: 5%;


}





.apresentacao-conteudo{
    width: auto;
}
.cabecalho{
    padding: 7%;
    display: flex;
    justify-content:center;

}

}